<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # ImageWall User Resend Confirmation Instructions
  # location: views/users/confirmations/new.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<section class="page-section page-section--actions">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "g" }) do |f| %>
    
    <div class="g12-xs g6-sm g3-sm-offset g4-md g4-md-offset">
      <%= devise_error_messages! %>
    </div>

    <div class="g12-xs g6-sm g3-sm-offset g4-md g4-md-offset">
      <h2 class="modal__title">Resend confirmation instructions</h2>
    </div>
    
    <div class="g12-xs g6-sm g3-sm-offset g4-md g4-md-offset modal__field">
      <%= f.label :email, class: "modal__label" %><br />
      <%= f.email_field :email, autofocus: true, placeholder: "you@example.com", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "modal__input" %>
    </div>

    <div class="g12-xs g6-sm g3-sm-offset g4-md g4-md-offset">
      <%= f.submit "Resend confirmation instructions", class: "modal__submit" %>
    </div>
  <% end %>

  <div class="g">
    <div class="g12-xs g6-sm g3-sm-offset g4-md g4-md-offset modal__options">
      <%= render "users/shared/links" %>
    </div>
  </div>
</section>
