
<section class="design-app js-design-app">
  <div class="design-webgl" id="webgl"></div>

  <div class="design-menu">
  
    <%= render partial: "design/color-dropdowns" %>

    <% if design_type == "purchase" || (design_type == "design" && !is_owner) %>
      <div class="design-menu__title">
        <div class="design-menu__title-name js-design-title" value="<%= design_title %>"><%= design_title.nil? || design_title.empty? ? "Untitled ImageWall" : design_title %></div>
        <div class="design-menu__title-id"><span class="js-token">ID <%= @design.token %></span></div>
      </div>
    <% else %>
      <!-- Title form -->
      <div class="design-menu__title">
        <div class="design-menu__title-name">
          <input class="design-menu__title-input js-design-title" type="text" name="title" value="<%= design_title.nil? || design_title.empty? ? 'Untitled ImageWall' : design_title %>" />
        </div>
        <% if @design %>
          <div class="design-menu__title-id"><span class="js-token">ID <%= @design.token %></span></div>
        <% else %>
          <div class="design-menu__title-id"><span class="js-token"></span></div>
        <% end %>
      </div>
    <% end %>

    <% unless design_type == "purchase" %>
      <div class="design-menu__panes active">

        <!-- PANE 1 -->
        <div class="design-menu__pane design-menu__pane-1 js-design-pane-1">

          <!-- Image block -->
          <div class="design-imagery">
            <div class="design-imagery__actions">
              <form id="search-form">
                <svg class="design-imagery__icon" width="15px" height="17px" viewBox="47 162 15 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Group-6" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(48.000000, 163.000000)">
                    <ellipse id="Oval-6" stroke="#979797" stroke-width="2" cx="6" cy="6" rx="6" ry="6"></ellipse>
                    <path d="M9,10 L13,15" id="Path-5" stroke="#979797" stroke-width="2"></path>
                  </g>
                </svg>
                <input id="search-input" class="design-imagery__input" type="text" placeholder="Search Images..." autocomplete="off">
              </form>
              <span class="design-imagery__upload">
                <span id="upload-thumb" class="design-imagery__upload-thumb"></span>
                <div class="design-imagery__upload-wrapper">
                  <input type="file" id="upload-button" class="design-imagery__upload-input" />
                  <button class="design-imagery__upload-button">Upload Image</button>
                </div>
              </span>
            </div>

            <div class="design-imagery__gallery">
              <div class="design-imagery__gallery-images">
                <div id="images">
                  <%= image_tag "search/09-wave.jpg", class: "image", style: "height: 50px; width: 67px; transform: translate(0px, 0px);" %>
                  <%= image_tag "search/02-statue.jpg", class: "image", style: "height: 50px; width: 67px; transform: translate(69px, 0px);" %>
                  <%= image_tag "search/03-florence.jpg", class: "image", style: "height: 50px; width: 68px; transform: translate(138px, 0px);" %>
                  <%= image_tag "search/04-bridge.jpg", class: "image", style: "height: 50px; width: 72px; transform: translate(208px, 0px);" %>
                  <%= image_tag "search/05-city.jpg", class: "image", style: "height: 53px; width: 81px; transform: translate(0px, 52px);" %>
                  <%= image_tag "search/06-flower.jpg", class: "image", style: "height: 53px; width: 42px; transform: translate(83px, 52px);" %>
                  <%= image_tag "search/07-eiffel.jpg", class: "image", style: "height: 53px; width: 72px; transform: translate(127px, 52px);" %>
                  <%= image_tag "search/08-beach.jpg", class: "image", style: "height: 53px; width: 79px; transform: translate(201px, 52px);" %>
                </div>
              </div>
            </div>

            <div class="design-imagery__settings">
              <span id="selected-thumb" class="design-imagery__selected-thumb"></span>
              <button class="design-imagery__settings-button design-imagery__settings-button-stretch js-stretch" data-type="false">Stretch</button>
              <button class="design-imagery__settings-button design-imagery__settings-button-crop js-crop" data-type="true">Crop</button>
            </div>
          </div>

          <!-- Option cards -->
          <div class="design-options">
            <div class="design-option js-design-card" data-type="size">
              <div class="design-option__icon">
                <div class="design-option__icon-block">
                  <%= image_tag("design/icon-size.svg") %>
                </div>
              </div>
              <div class="design-option__text">
                <div class="design-option__text-title">Size</div>
                <div class="design-option__text-detail"><span class="js-display-width"></span>' &middot; <span class="js-display-height"></span>'</div>
              </div>
              <div class="design-option__arrow">         
                <svg width="11px" height="20px" viewBox="302 331 11 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <polyline id="Path-10" stroke="#E6E6E6" stroke-width="2" fill="none" points="303 332 311 341 303 350"></polyline>
                </svg>
              </div>
            </div>
            <div class="design-option js-design-card" data-type="grid">
              <div class="design-option__icon">
                <div class="design-option__icon-block">
                  <%= image_tag("design/icon-grid.svg") %>
                </div>
              </div>
              <div class="design-option__text">
                <div class="design-option__text-title">Grid</div>
                <div class="design-option__text-detail"><span class="js-display-grid-type">Staggered</span> &middot; <span class="js-display-grid-size">2.5</span>"</div>
              </div>
              <div class="design-option__arrow">         
                <svg width="11px" height="20px" viewBox="302 331 11 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <polyline id="Path-10" stroke="#E6E6E6" stroke-width="2" fill="none" points="303 332 311 341 303 350"></polyline>
                </svg>
              </div>
            </div>
            <div class="design-option js-design-card" data-type="perforation">
              <div class="design-option__icon">
              <div class="design-option__icon-block">
                <%= image_tag("design/icon-perforation.svg") %>
              </div>              </div>
              <div class="design-option__text">
                <div class="design-option__text-title">Perforation</div>
                <div class="design-option__text-detail"><span class="js-display-perf-shape">Diamond</span> &middot; <span class="js-display-min-perf">0.2</span>" - <span class="js-display-max-perf">0.8</span>" &middot; <span class="js-display-perf-reduction">None</span></div>
              </div>
              <div class="design-option__arrow">         
                <svg width="11px" height="20px" viewBox="302 331 11 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <polyline id="Path-10" stroke="#E6E6E6" stroke-width="2" fill="none" points="303 332 311 341 303 350"></polyline>
                </svg>
              </div>
            </div>
            <div class="design-option js-design-card" data-type="material">
              <div class="design-option__icon">
                <div class="design-option__icon-block js-display-material-image"></div>
              </div>
              <div class="design-option__text">
                <div class="design-option__text-title">Material</div>
                <div class="design-option__text-detail"><span class="js-display-material">Solanum Steel</span></div>
              </div>
              <div class="design-option__arrow">         
                <svg width="11px" height="20px" viewBox="302 331 11 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <polyline id="Path-10" stroke="#E6E6E6" stroke-width="2" fill="none" points="303 332 311 341 303 350"></polyline>
                </svg>
              </div>
            </div>
            <div class="design-option js-design-card" data-type="system">
              <div class="design-option__icon">
                <div class="design-option__icon-block">
                  <%= image_tag("design/icon-system.svg") %>
                </div>
              </div>
              <div class="design-option__text">
                <div class="design-option__text-title">System</div>
                <div class="design-option__text-detail"><span class="js-display-location">Chicago</span> &middot; <span class="js-display-system">Wall</span></div>
              </div>
              <div class="design-option__arrow">         
                <svg width="11px" height="20px" viewBox="302 331 11 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <polyline id="Path-10" stroke="#E6E6E6" stroke-width="2" fill="none" points="303 332 311 341 303 350"></polyline>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <!-- PANE 2 -->
        <div class="design-menu__pane design-menu__pane-2 js-design-pane-2">
          <a class="design-menu__back-link js-design-back">
            <svg width="7px" height="10px" viewBox="0 0 7 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="ux-05-application" transform="translate(-48.000000, -148.000000)" stroke-width="2" stroke="#222222">
                  <polyline id="Path-15-Copy" transform="translate(52.000000, 153.000000) rotate(90.000000) translate(-52.000000, -153.000000) " points="48 151 52 155 56 151"></polyline>
                </g>
              </g>
            </svg>
            Back to Options
          </a>

          <%= render partial: "design/pane-system" %>
          <%= render partial: "design/pane-size" %>
          <%= render partial: "design/pane-grid" %>
          <%= render partial: "design/pane-perforation" %>
          <%= render partial: "design/pane-material", locals: { material_categories: material_categories } %>
        </div>
      </div>
    <% end %>
  
    <%# if purchase and not completely paid %>
    <% if (design_type == "purchase" && !@design.is_paid_full) %>
      <div class="design-menu__footer--uneditable">
        <button class="buy-button js-buy-button js-is-purchase">
          <div class="buy-button__content--calculated">
            <div class="buy-button__price">$<%= @design.purchase_deposit.ceil %></div>
            <div class="buy-button__text">Buy</div>
            <div class="buy-button__arrow">
              <svg width="11px" height="20px" viewBox="302 663 11 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <polyline id="Path-10-Copy-2" stroke="#ffffff" stroke-width="2" fill="none" points="303 664 311 673 303 682"></polyline>
              </svg>
            </div>
          </div>
        </button>
      </div>
    <%# Anything else that is not a completely paid purchase %>
    <% elsif !(design_type == "purchase" && @design.is_paid_full) %>
      <div class="design-menu__footer">
        <div class="design-menu__footer-buttons">
          <button class="save-button js-save-design">Save</button>
          <button class="buy-button js-buy-button is-calculating" disabled>
            <div class="buy-button__content--calculated">
              <div class="buy-button__starting buy-button__rom-text">Starts At</div>
              <div class="buy-button__price">$<span class="js-purchase-total"></span></div>
              <div class="buy-button__buy-text">Buy</div>
              <div class="buy-button__sqft-text">&nbsp;/ SF</div>
              <div class="buy-button__arrow">
                <svg width="11px" height="20px" viewBox="302 663 11 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <polyline id="Path-10-Copy-2" stroke="#ffffff" stroke-width="2" fill="none" points="303 664 311 673 303 682"></polyline>
                </svg>
              </div>
            </div>
            <div class="buy-button__content--calculating">
              <div class="buy-button__text">Calculating</div>
            </div>
          </button>
        </div>
        <div class="design-menu__footer-actions">
          <button class="design-menu__footer-action js-open-share-modal">Share Design</button>
          <button class="design-menu__footer-action" id="action-export-image">Export Image</button>
          <button class="design-menu__footer-action js-duplicate" <% if !is_owner %>hidden<% end %> >Duplicate</button>
        </div>
      </div>
    <% end %>
  </div>

  <% if current_user && (current_user.is_super_admin || current_user.is_sales_admin) %>
    <div class="design-menu__admin-tools">
      <button class="js-excel-export" title="Copy current design parameters to clipboard for pasting into Excel cost spreadsheet.">E</button>
      <% if current_user && current_user.is_super_admin %>
        <button class="js-excel-test" title="Run tests and copy result to clipboard.">T</button>
      <% end %>
    </div>
    
    <div id="test-input-modal" class="modal-hide">
      <%= render partial: "design/modals/test-input" %>
    </div>
  <% end %>
</div>

<div class="design-views">
  <!-- Toggle Buttons -->
  <button class="design-view__toggle active js-context">
    <span class="design-view__toggle-label">Context</span> <span class="design-view__toggle-notice"></span>
  </button>

  <div class="design-view__shade js-shade-section tooltip" data-tooltip="Adjust the color of the wall behind your project to approximate your site's wall color and lighting and better visualize your chosen pattern and material.">
    <div>Background
      <div class="range-slider">
        <div class="js-shade"></div>
      </div>
    </div>
  </div>
  <!-- <button class="design-view__toggle design-view__break js-app">
    <span class="design-view__toggle-label">App Mode</span> <span class="design-view__toggle-notice">Off</span>
  </button> -->
  <!-- View Buttons -->
  <div class="design-view__view js-view-elevation" title="Elevation">
     <%= image_tag("design/icon-view-front.svg") %>
   </div>
   <div class="design-view__view js-view-perspective" title="Perspective">
     <%= image_tag("design/icon-view-3d.svg") %>
   </div>
   <div class="design-view__view js-view-person" title="Person View">
     <%= image_tag("design/icon-view-person.svg") %>
   </div>
   <div class="design-view__view design-view__break js-view-detail" title="Detail View">
     <%= image_tag("design/icon-view-detail.svg") %>
   </div>
  <!-- Zoom Buttons -->
  <button class="js-view-plus design-view__view design-view__view--round">+</button>
  <button class="js-view-minus design-view__view design-view__view--round">-</button>
</div>

<% if !(@design && @design.is_paid_half) %>
<div class="design-stats js-design-stats is-calculating">
  <div class="design-stats__calculated">
    <span class="design-stats__price-sf js-stats-pricesf">Price/SF <span class="value"></span></span>
    <span class="design-stats__panels js-stats-panels">Panels <span class="value"></span></span>
    <span class="design-stats__panel-thickness js-stats-panelthickness">Panel Thickness <span class="value"></span></span>
  </div>
  <div class="design-stats__calculating">Loading Stats...</div>
</div>
<% end %>
<input type="hidden" class="js-purchase-shipping"/>
<input type="hidden" class="js-purchase-subtotal"/>
<% if @design && @design.is_paid_half %>
  <inuut type="hidden" class="js-is-paid-half" />
<% end %>
</section>