<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	# Breadcrumbs
	# location: views/partials/_breadcrumbs.html.erb
	#
	# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<ol class="footer-breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
	<% local_paths.each_with_index do |path, index| %>
		<li class="footer-breadcrumbs__list-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="<%= path[:url] %>" class="footer-breadcrumbs__list-link" itemprop="item" itemscope itemtype="https://schema.org/<%= path[:type] %>">
        <% if index == 0 %>
        	<span class="footer-breadcrumbs__list-logo">
        		<%= render "application/#{@template}/partials/icons/zahner-logo" %>
        	</span>
        	<meta itemprop="name" content="Zahner">
        <% else %>
        	<span class="footer-breadcrumbs__list-title" itemprop="name"><%= path[:title] %></span>
        <% end %>
      </a>
	    <meta itemprop="position" content="<%= index + 1 %>">
	  </li>
	  <% if (index + 1) < local_paths.count %>
	  	<span class="footer-breadcrumbs__list-seperator icon-caret icon-caret-sm"></span>
	  <% end %>
	<% end %>
</ol>

