<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # ImageWall – Design Card
  # location: views/partials/card-design.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<% cache ["card-design", design] do %>
	<article class="g6-xs g4-sm g2-md card card-design js-demo-slide" itemscope itemtype="https://schema.org/CreativeWork">
		<%= link_to design_show_path(design.token), class: "card-design__link js-demo-link" do %>
			<meta itemprop="url" content="/design/<%= design.token %>">
			<figure class="card-design__frame" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
		  	<% if design.image? %>
					<%= ix_picture_tag(design.image,
						picture_tag_options: {
							class: "card-design__picture"
						},
					  imgix_default_options: { w: 320, h: 240, q: 60, fit: "min", sizes: "100vw", widths: [320, 640], alt: design.title, class: "card-design__image" },
					  breakpoints: {
					  	"(min-width: 1601px)" => { sizes: "33vw", widths: [600, 1200] },
					  	"(min-width: 1281px)" => { sizes: "33vw", widths: [480, 960] },
					  	"(min-width:  961px)" => { sizes: "33vw", widths: [420, 840] },
					    "(min-width:  641px)" => { sizes: "50vw", widths: [480, 960] },
		          "(min-width:  321px)" => { sizes: "100vw", widths: [640, 750, 960, 1080, 1280] }
					  }
					) %>
		  	<% else %>
		  		<picture><img></picture>
		  	<% end %>
		  	<button class="card-design__button">Open in Editor</button>
		  </figure>
			<div class="card-design__text">
				<h3 class="card-design__title" itemprop="name"><%= design.title %></h3>
				<span class="card-design__material"><%= design.material.title if design.material %></span>
			</div>
		<% end %>
	</article>
<% end %>