<h2 class="modal__title">Forgot your password?</h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "modal__form" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="modal__field">
    <%= f.label :email, class: "modal__label" %>
    <%= f.email_field :email, autofocus: true, class: "modal__input" %>
  </div>

  <div class="modal__actions">
    <%= f.submit "Send me reset password instructions", class: "modal__submit" %>
  </div>
<% end %>
<div class="modal__options">
  <a href="#login-modal" class="modal__link" title="Login" data-modal-open>Login</a>
  <a href="#signup-modal" class="modal__link" title="Signup" data-modal-open>Signup</a>
</div>