<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # User Modal - Login
  # location: views/partials/_login.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<h2 class="modal__title">Login</h2>
<p class="js-login-error"></p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "modal__form" }) do |f| %>
  <div class="modal__field">
    <%= f.label :email, class: "modal__label" %>
    <%= f.email_field :email, autofocus: true, class: "modal__input", placeholder: "you@example.com" %>
  </div>

  <div class="modal__field">
    <%= f.label :password, class: "modal__label" %>
    <%= f.password_field :password, autocomplete: "off", class: "modal__input" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="modal__field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: "modal__label" %>
    </div>
  <% end -%>

  <div class="modal__actions">
    <%= f.submit "Log In", id: "login-submit", class: "modal__submit" %>
  </div>
<% end %>
<div class="modal__options">
  <a href="#signup-modal" class="modal__link" title="Signup" data-modal-open>Signup</a>
  <a href="#forgot-password-modal" class="modal__link" title="Forgot your Password?" data-modal-open>Forgot your password?</a>
</div>
