<section class="page-section g">
  <div class="g12-xs">
    <h3 class="page-section__title"><%= title %></h3>
  </div>
  <div class="g12-xs g6-md g5-lg">
    <!-- 520x480 -->
    <img src="<%= things.first.image %>" />
  </div>
  <div class="g12-xs g6-md g1-lg-offset">
    <h4 class="page-section__subtitle"><%= subtitle %></h3>
    <p class="page-section__description"><%= description %></p>
    <button class="page-section__button">To Other Page</button>
  </div>
  <div class="g12-xs">
    <div class="page-section__carousel">
      <% things.each do |thing| %>
        <div class="g3-xs page-section__carousel-item">
          <!-- 305x225 -->
          <img class="carousel-item__image" src="<%= thing.image %>" />
          <h5 class="carousel-item__title"><%= thing.title %></h5>
          <p class="carousel-item__description"><%= thing.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</section>