<%= form_for(category, url: path, method: restful_method, html: { class: "g" }) do |f| %>
  <div class="g4-xs">
    <div class="g">
      <div class="g12-xs">
        <%= f.label :title, class: "page-edit__label" %>
        <%= f.text_field :title, class: "page-edit__input page-edit__input--title" %>
      </div>
      <div class="g12-xs">
        <%= f.label :subtitle, class: "page-edit__label" %>
        <%= f.text_area :subtitle, class: "page-edit__input page-edit__textarea", rows: 3 %>
      </div>
    </div>
  </div>
  <div class="g4-xs">
    <%= f.label :description, class: "page-edit__label" %>
    <%= f.text_area :description, class: "page-edit__textarea", rows: 7 %>
  </div>

  <div class="g12-xs page-edit__submit">
    <%= f.submit class: "page-button page-button--yellow" %>
  </div>
<% end %>