<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # ImageWall — Menu Admin
  # location: views/admin/partials/_menu-admin.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<nav class="menu menu-desktop" itemscope itemtype="https://schema.org/SiteNavigationElement" role="navigation">
  <ul class="menu-desktop__list">
    <li class="menu-desktop__item">
      <%= link_to "/", class: "menu-desktop__logo", itemprop: "url" do %>
        <span itemprop="name">ImageWall</span>
      <% end %>
    </li>
    <%# If Super or Marketing Admin %>
    <% if current_user && (current_user.is_super_admin || current_user.is_marketing_admin) %>
      <li class="menu-desktop__item">
        <%= link_to "/admin", class: "menu-desktop__link", itemprop: "url" do %>
          <span itemprop="name">Admin</span>
        <% end %>
      </li>
      <% ["Features", "Materials", "Gallery", "Resources"].each do |section| %>
        <li class="menu-desktop__item">
          <%= active_link_to "/admin/#{section.downcase}", class: "menu-desktop__link", itemprop: "url" do %>
            <span itemprop="name"><%= section %></span>
          <% end %>
        </li>
      <% end %>
    <% end %>
    <%# If Super or Sales Admin %>
    <% if current_user && (current_user.is_super_admin || current_user.is_sales_admin) %>
      <li class="menu-desktop__item">
        <%= active_link_to "/admin/designs", class: "menu-desktop__link", itemprop: "url" do %>
          <span itemprop="name">Designs</span>
        <% end %>
      </li>
      <li class="menu-desktop__item">
        <%= active_link_to "/admin/users", class: "menu-desktop__link", itemprop: "url" do %>
          <span itemprop="name">Users</span>
        <% end %>
      </li>
    <% end %>
  </ul>
  <ul class="menu-desktop__list">
    <%# If Not Logged In %>
    <% if !current_user %>
      <li class="menu-desktop__item menu-desktop__item--login">
        <a href="#login-modal" class="menu-desktop__link menu-desktop__link--login" data-modal-open>
          <span>Login</span>
        </a>
      </li>
    <%# If Logged In %>
    <% else %>
      <li class="menu-desktop__item menu-desktop__item--profile">
        <%= active_link_to "/edit", class: "menu-desktop__link menu-desktop__link--profile" do %>
          <span>Profile</span>
        <% end %>
      </li>
      <li class="menu-desktop__item menu-desktop__item--logout js-log-out">
        <%= button_to destroy_user_session_path, method: :delete, class: "menu-desktop__link menu-desktop__link--logout" do %>
          <span>Logout</span>
        <% end %>
      </li>
    <% end %>
    <li class="menu-desktop__item menu-desktop__item--mobile">
      <button class="menu-desktop__button js-menu-mobile-toggle">
        <span class="menu-desktop__button-line"></span>
        <span class="menu-desktop__button-line"></span>
        <span class="menu-desktop__button-line"></span>
      </button>
    </li>
  </ul>
</nav>