<div class="g <%= pathname %>">
  <div class="g12-xs page-section__create">
    <%= form_tag("/admin/#{pathname}", method: "POST", class: "page-section__form") do %>
      <%= label_tag(:title, "New #{thing_type}", class: "page-section__label") %>
      <input class="page-section__input" type="text" name="<%= thing_type.downcase %>[title]" placeholder="Title">
      <%= submit_tag("Create", class: "page-section__submit") %>
    <% end %>
  </div>
  <ul class="g12-xs page-section__list js-thing-list">
    <% things.each do |thing| %>
      <li class="card <%= thing.is_visible ? "is-published" : "is-draft" %>">
        <div class="card__dragzone">
          <span class="card__dragzone-circle"></span>
          <span class="card__dragzone-circle"></span>
          <span class="card__dragzone-circle"></span>
          <span class="card__dragzone-circle"></span>
          <span class="card__dragzone-circle"></span>
          <span class="card__dragzone-circle"></span>
        </div>
        <h2 class="card__title">
          <a class="card__link" href="/admin/<%= pathname %>/<%= thing.slug %>/edit"><%= thing.title %></a>
        </h2>
        <div class="card__actions js-action-group" value="<%= thing.slug %>">
          <button class="card__button--publish js-toggle-visibility">
            <span><%= thing.is_visible ? "Unpublish" : "Publish" %></span>
          </button>
          <% if current_user.is_super_admin %>
            <button class="card__button--delete js-delete-thing">
              <span>Delete</span>
            </button>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>