<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # ImageWall User Changing Password
  # location: views/users/passwords/edit.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<section class="page-section page-section--actions">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "g" }) do |f| %>
    
    <div class="g12-xs g6-sm g3-sm-offset g4-md g4-md-offset">
      <%= devise_error_messages! %>
    </div>
    
    <div class="g12-xs g6-sm g3-sm-offset g4-md g4-md-offset">
      <h2 class="modal__title">Change your password</h2>
    </div>

    <%= f.hidden_field :reset_password_token %>

    <div class="g12-xs g6-sm g3-sm-offset g4-md g4-md-offset modal__field">
      <%= f.label :password, class: "modal__label" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "modal__input" %>
    </div>

    <div class="g12-xs g6-sm g3-sm-offset g4-md g4-md-offset modal__field">
      <%= f.label :password_confirmation, "Confirm new password", class: "modal__label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "modal__input" %>
    </div>

    <div class="g12-xs g6-sm g3-sm-offset g4-md g4-md-offset actions">
      <%= f.submit "Change my password", class: "modal__submit" %>
    </div>
  <% end %>

  <div class="g">
    <div class="g12-xs g6-sm g3-sm-offset g4-md g4-md-offset modal__options">
      <%= render "users/shared/links" %>
    </div>
  </div>
</section>
