<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # ImageWall Materials Index
  # location: views/materials/index.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<%# Meta Tags %>
<% content_for :metatags do %>
  <%= render partial: "partials/head/metatags", locals: {
    url: "https://www.imagewall.com/materials",
    title: "Materials — ImageWall",
    description: "We believe in real metals. Explore our custom patinas and finishes."
  } %>
<% end %>

<header class="page-header">
  <div class="g page-header__text">
    <h1 class="g12-xs g10-md g1-md-offset page-header__title">Materials</h1>
    <ul class="g12-xs g10-md g1-md-offset page-header__list">
      <% @material_categories.each do |material_category| %>
        <li class="page-header__item">
          <%= link_to material_category.title, "##{material_category.slug}", class: "page-header__link js-scroll-link", data: { scroll: material_category.slug } %>
        </li>
      <% end %>
    </ul>
    <p class="g12-xs g8-sm g2-sm-offset g6-md g3-md-offset page-header__description page-header__description--small">We believe in real metals. When well cared for, textured finishes and chemical patinas do not wear away or deteriorate. They expose and interact with the inherent color and luster of the base metal, creating surfaces with character.</p>
  </div>
</header>

<% @material_categories.each do |material_category| %>
  <section class="page-section page-section--center">
    <div class="g">
      <h2 class="g12-xs page-section__title" id="<%= material_category.slug %>"><%= material_category.title %></h2>
      <h3 class="g12-xs g8-md g2-md-offset page-section__subtitle"><%= material_category.subtitle %></h3>
      <div class="g12-xs g10-md g1-md-offset">
        <div class="g">
          <%= render partial: "partials/card-material", collection: material_category.materials.where(is_visible: true), as: :material, cached: true %>
        </div>
      </div>
    </div>
  </section>
<% end %>

<section class="page-section page-section--center">
  <div class="g">
    <h2 class="g12-xs page-section__title">Other</h2>
    <h3 class="g12-xs g8-md g2-md-offset page-section__subtitle">Brass, Bronze, Galvanized, Gold, Nickel, Titanium...</h3>
    <div class="g12-xs g8-sm g2-sm-offset g6-md g3-md-offset page-section__description">
      <p>Have a project that requires a specialty metal? We can do that! Although the metals and finishes above are the most requested and best suited for ImageWall applications, our team holds vast experience working with a broad spectrum of metals and alloys. If you have a project which requires a material that is not on the list, <%= link_to "let us know", contact_path, class: "page-section__link" %>.</p>
    </div>
  </div>
</section>


<%= render partial: "partials/page-cta" %>