<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	# ImageWall Index
	# location: views/index.html.erb
	# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<%# Meta Tags %>
<% content_for :metatags do %>
  <%= render partial: "partials/head/metatags", locals: {
    url: "https://www.imagewall.com",
    title: "ImageWall — Design and Order Custom Perforated Metal",
    description: "ImageWall crafts custom perforated metal panel systems designed by you. Upload an image, get live pricing, and order your ImageWall system online."
  } %>
<% end %>

<%# Page Header %>
<header class="page-header page-header--home js-page-header">
	<%= ix_picture_tag("https://imagewall-media.s3.amazonaws.com/c6a169b0-00d0-454e-a44b-3f66da08a36c/imagewall-homepage-hero-petersen.jpg",
		picture_tag_options: {
			class: "page-header__frame page-header__frame--home"
		},
	  imgix_default_options: { w: 320, h: 240, q: 75, fit: "min", sizes: "100vw", widths: [320, 640], class: "page-header__image", alt: "ImageWall" },
	  breakpoints: {
	  	"(min-width: 1601px)" => { w: 1920, h: 600, sizes: "100vw", widths: [1600, 1920, 2240, 2560, 2880] },
	  	"(min-width: 1281px)" => { w: 1600, h: 540, sizes: "100vw", widths: [1280, 1600, 1920, 2240, 2560, 2880] },
	  	"(min-width:  961px)" => { w: 960,  h: 360, sizes: "100vw", widths: [960, 1280, 1600, 1920, 2240, 2560] },
	    "(min-width:  641px)" => { w: 640,  h: 300, sizes: "100vw", widths: [640, 960, 1280, 1600, 1920] },
	    "(min-width:  321px)" => { w: 640,  h: 480, sizes: "100vw", widths: [640, 750, 960, 1080, 1280] }
	  }
	) %>
	<div class="page-header__overlay"></div>
	<div class="g page-header__text">
		<div class="g12-xs">
			<h1 class="page-header__title" itemprop="name">Build your ImageWall.</h1>
			<p class="page-header__description" itemprop="description">Design and order custom perforated metal.</p>
		</div>
	</div>
	<div class="g page-header__menu">
		<ul class="12-xs page-header__menu-list">
			<li class="page-header__menu-item">
				<%= link_to "/design/789d2a", class: "page-header__menu-link js-selector", "data-turbolinks": false do %>
					<%= image_tag("icons/imagewall-system-icon-facade.svg", class: "page-header__menu-image") %>
					<h6 class="page-header__menu-title">Facade</h6>
					<div class="page-header__menu-button">
						<span class="page-header__menu-button-title">Customize</span>
						<span class="page-header__menu-button-arrow"></span>
					</div>
				<% end %>
			</li>
			<li class="page-header__menu-item is-active">
				<%= link_to "/design/f1d35e", class: "page-header__menu-link js-selector", "data-turbolinks": false do %>
					<%= image_tag("icons/imagewall-system-icon-wall.svg", class: "page-header__menu-image") %>
					<h6 class="page-header__menu-title">Feature Wall</h6>
					<div class="page-header__menu-button">
						<span class="page-header__menu-button-title">Customize</span>
						<span class="page-header__menu-button-arrow"></span>
					</div>
				<% end %>
			</li>
			<li class="page-header__menu-item">
				<%= link_to "/design/68dca8", class: "page-header__menu-link js-selector", "data-turbolinks": false do %>
					<%= image_tag("icons/imagewall-system-icon-screen.svg", class: "page-header__menu-image") %>
					<h6 class="page-header__menu-title">Screen</h6>
					<div class="page-header__menu-button">
						<span class="page-header__menu-button-title">Customize</span>
						<span class="page-header__menu-button-arrow"></span>
					</div>
				<% end %>
			</li>
			<li class="page-header__menu-item">
				<%= link_to "/design/8946e7", class: "page-header__menu-link js-selector", "data-turbolinks": false do %>
					<%= image_tag("icons/imagewall-system-icon-ceiling.svg", class: "page-header__menu-image") %>
					<h6 class="page-header__menu-title">Ceiling</h6>
					<div class="page-header__menu-button">
						<span class="page-header__menu-button-title">Customize</span>
						<span class="page-header__menu-button-arrow"></span>
					</div>
				<% end %>
			</li>
		</ul>
	</div>
</header>

<%# Page Content - How It Works %>
<section class="page-section page-section--steps">
	<div class="hide-sm" style="width: 100%; padding-bottom: 55%;"></div>
	<div class="g">
		<h2 class="g12-xs page-section__title">How It Works</h2>
		<div class="g12-xs page-section__steps">
			<video class="page-section__steps-video" preload="auto" mute loop autoplay>
				<source src="<%= image_url("imagewall-how-it-works.mp4") %>" type="video/mp4" itemprop="url">
			</video>
		</div>
		<div class="page-section__carousel page-section__carousel--steps js-step-carousel">
			<div class="g9-xs g3-sm page-section__step js-step-slide">
				<%= image_tag("steps/imagewall-step-1.jpg", class: "page-section__step-image") %>
				<div class="page-section__step-text">
					<span class="page-section__step-number">1</span>
					<h4 class="page-section__step-title">Design</h4>
					<p class="page-section__step-description">You upload an image, select all the parameters, and see the price instantly.</p>
				</div>
			</div>
			<div class="g9-xs g3-sm page-section__step js-step-slide">
				<%= image_tag("steps/imagewall-step-2.jpg", class: "page-section__step-image") %>
				<div class="page-section__step-text">
					<span class="page-section__step-number">2</span>
					<h4 class="page-section__step-title">Develop</h4>
					<p class="page-section__step-description">We help you resolve the details, from door cutouts to earthquake resistance.</p>
				</div>
			</div>
			<div class="g9-xs g3-sm page-section__step js-step-slide">
				<%= image_tag("steps/imagewall-step-3.jpg", class: "page-section__step-image") %>
				<div class="page-section__step-text">
					<span class="page-section__step-number">3</span>
					<h4 class="page-section__step-title">Build</h4>
					<p class="page-section__step-description">We build your custom ImageWall system to your specifications.</p>
				</div>
			</div>
			<div class="g9-xs g3-sm page-section__step js-step-slide">
				<%= image_tag("steps/imagewall-step-4.jpg", class: "page-section__step-image") %>
				<div class="page-section__step-text">
					<span class="page-section__step-number">4</span>
					<h4 class="page-section__step-title">Ship</h4>
					<p class="page-section__step-description">We deliver your system, carefully packed and ready for easy assembly.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<%# Page Content - Intro text %>
<section class="page-section page-section--center">
  <div class="g">
    <h2 class="g12-xs page-section__title">What We Do</h2>
    <div class="g12-xs g8-sm g2-sm-offset g6-md g3-md-offset page-section__description">
      <p>Using our patented process (#7,212,688 B2) we translate your image into perforated metal panels. Each system is engineered and built to your specification by our expert shop team and shipped with all the hardware and substructure to your location, ready for easy installation. Design and order directly from your web browser or work with our dedicated team.</p>
    </div>
  </div>
</section>

<%# Page Content - Features %>
<section class="page-section page-section--reorder">
	<div class="g">
		<h2 class="g12-xs page-section__title">Features</h2>
		<figure class="g12-xs g5-sm page-section__mosaic">
    	<div class="g">
    		<div class="g5-xs">
  				<%= ix_picture_tag("https://imagewall-media.s3.amazonaws.com/234ea6bd-e124-4570-8dd6-7f13831a6bdb/imagewall-home-features-1.png",
						picture_tag_options: {
							class: "page-section__mosaic-frame page-section__mosaic-frame--small page-section__mosaic-frame--1"
						},
					  imgix_default_options: { w: 210, h: 180, q: 50, fit: "crop", sizes: "41.66667vw", widths: [210, 240, 270, 300, 330, 360, 390, 420], class: "page-section__mosaic-image" },
					  breakpoints: {
					  	"(min-width: 1601px)" => { sizes: "20.83334vw", widths: [300, 600] },
					  	"(min-width: 1281px)" => { sizes: "20.83334vw", widths: [240, 480] },
					  	"(min-width:  961px)" => { sizes: "20.83334vw", widths: [210, 420] },
					    "(min-width:  641px)" => { sizes: "20.83334vw", widths: [180, 360] }
					  }
					) %>
				</div>
				<div class="g7-xs">
  				<%= ix_picture_tag("https://imagewall-media.s3.amazonaws.com/8e035193-f608-45f8-abb2-bf3e9740af3c/imagewall-home-features-2.png",
						picture_tag_options: {
							class: "page-section__mosaic-frame page-section__mosaic-frame--large page-section__mosaic-frame--2"
						},
					  imgix_default_options: { w: 300, h: 180, q: 50, fit: "crop", sizes: "58.33333vw", widths: [300, 330, 360, 390, 420, 450, 480, 510], class: "page-section__mosaic-image" },
					  breakpoints: {
					  	"(min-width: 1601px)" => { sizes: "29.16667vw", widths: [420, 840] },
					  	"(min-width: 1281px)" => { sizes: "29.16667vw", widths: [360, 720] },
					  	"(min-width:  961px)" => { sizes: "29.16667vw", widths: [300, 600] },
					    "(min-width:  641px)" => { sizes: "29.16667vw", widths: [270, 540] }
					  }
					) %>
				</div>
				<div class="g7-xs">
  				<%= ix_picture_tag("https://imagewall-media.s3.amazonaws.com/473ad07c-1d0e-4a2e-9edf-2a0134ec6594/imagewall-home-features-3.png",
						picture_tag_options: {
							class: "page-section__mosaic-frame page-section__mosaic-frame--large page-section__mosaic-frame--3"
						},
					  imgix_default_options: { w: 300, h: 180, q: 50, fit: "crop", sizes: "58.33333vw", widths: [300, 330, 360, 390, 420, 450, 480, 510], class: "page-section__mosaic-image" },
					  breakpoints: {
					  	"(min-width: 1601px)" => { sizes: "29.16667vw", widths: [420, 840] },
					  	"(min-width: 1281px)" => { sizes: "29.16667vw", widths: [360, 720] },
					  	"(min-width:  961px)" => { sizes: "29.16667vw", widths: [300, 600] },
					    "(min-width:  641px)" => { sizes: "29.16667vw", widths: [270, 540] }
					  }
					) %>
				</div>
				<div class="g5-xs">
  				<%= ix_picture_tag("https://imagewall-media.s3.amazonaws.com/852ed721-4b0a-44a8-bcef-51235e7fd97e/imagewall-home-features-4.png",
						picture_tag_options: {
							class: "page-section__mosaic-frame page-section__mosaic-frame--small page-section__mosaic-frame--4"
						},
					  imgix_default_options: { w: 210, h: 180, q: 50, fit: "crop", sizes: "41.66667vw", widths: [210, 240, 270, 300, 330, 360, 390, 420], class: "page-section__mosaic-image" },
					  breakpoints: {
					  	"(min-width: 1601px)" => { sizes: "20.83334vw", widths: [300, 600] },
					  	"(min-width: 1281px)" => { sizes: "20.83334vw", widths: [240, 480] },
					  	"(min-width:  961px)" => { sizes: "20.83334vw", widths: [210, 420] },
					    "(min-width:  641px)" => { sizes: "20.83334vw", widths: [180, 360] }
					  }
					) %>
				</div>
	    </div>
    </figure>
	  <div class="g12-xs g6-sm g1-sm-offset page-section__text">
	  	<div class="g">
		  	<h3 class="g12-xs page-section__subtitle">Already designed for your project.</h3>
	      <div class="g1-sm show-sm page-section__number">01</div>
	      <div class="g12-xs g11-sm page-section__description">
	        <p>With an array of pre-engineered structural systems and simple and quick installation, ImageWall is ready for your project, whether that’s a 100 foot facade or an 8 foot partition. Our in-house manufacturing process creates panel systems with seamless imagery at high-precision tolerances. Go even further with special-case structural systems and newly developed features.</p>
	        <%= link_to "View all features", features_path, class: "page-section__button" %>
	      </div>
	     </div>
    </div>
	</div>
</section>

<%# Page Content - Materials %>
<section class="page-section page-section--reorder">
	<div class="g">
		<h2 class="g12-xs page-section__title">Materials</h2>
	  <div class="g12-xs g6-sm page-section__text">
	  	<div class="g">
		  	<h3 class="g12-xs page-section__subtitle">We believe in real metals.</h3>
	      <div class="g1-sm show-sm page-section__number">02</div>
	      <div class="g12-xs g11-sm page-section__description">
	        <p>Over 120 years of working with metal we have developed a nuanced familiarity with the character of a variety of materials including zinc, stainless steel, steel, copper, and aluminum. We have also developed a range of durable patinas and surface treatments which augment the characteristics of each metal.</p>
	        <%= link_to "See material collection", materials_path, class: "page-section__button" %>
	      </div>
	    </div>
    </div>
    <div class="g12-xs g5-sm g1-sm-offset page-section__frame">
      <%= ix_picture_tag("https://imagewall-media.s3.amazonaws.com/ce1cfbf8-5e3c-407b-a608-b991708b0184/imagewall-home-materials.jpg",
        picture_tag_options: {
          class: "page-section__picture--natural"
        },
        imgix_default_options: { w: 320, q: 60, fit: "min", sizes: "100vw", widths: [320, 640], class: "page-section__image--natural", alt: "ImageWall Material Swatches" },
        breakpoints: {
          "(min-width: 1601px)" => { sizes: "50vw", widths: [720, 1440] },
          "(min-width: 1281px)" => { sizes: "50vw", widths: [600, 1200] },
          "(min-width:  961px)" => { sizes: "50vw", widths: [480, 960] },
          "(min-width:  641px)" => { sizes: "50vw", widths: [360, 720] },
          "(min-width:  321px)" => { sizes: "100vw", widths: [640, 750, 960, 1080, 1280] }
        }
      ) %>
    </div>
	</div>
</section>

<%# Page Content - Gallery %>
<section class="page-section page-section--center">
	<div class="g">
		<h2 class="g12-xs page-section__title">Gallery</h2>
		<h3 class="g12-xs g8-md g2-md-offset page-section__subtitle">See what you can create with ImageWall</h3>
		<div class="page-section__carousel js-card-carousel">
      <%= render partial: "partials/slide-project", collection: @projects, as: :project, cached: true %>
    </div>
	</div>
</section>

<%# Page Content - Testimonials %>
<section class="page-section page-section--center">
	<%# Uncomment to re-enable testimonials %>
	<%# render partial: "partials/page-testimonials" %>
	<%# Uncomment to re-enable company logos %>
	<%# render partial: "partials/page-companies" %>
</section>

<%# Page CTA %>
<%= render partial: "partials/page-cta" %>