<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-preview">
    <title>ImageWall Admin</title>
    <%= csrf_meta_tags %>

    <%# Google Webmaster Tools %>

    <%# Favicon %>
    <%= favicon_link_tag "favicon.png" %>

    <%= stylesheet_link_tag "admin", media: "all", "data-turbolinks-track": "reload" %>

    <%# Main & Picture HTML5 Shiv %>
    <script type="text/javascript">document.createElement( "main" );document.createElement( "picture" );</script>

    <%# Typekit Fonts %>
    <script src="https://use.typekit.net/ycg0ajx.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>

  <body class="<%= controller_name %> <%= action_name %>" itemscope itemtype="https://schema.org/<%= yield :pagetype %>">

    <%= render "partials/alert" %>

    <header class="body-header js-body-header">
      <%= render "admin/partials/menu-admin" %>
      <%= render "partials/menu-mobile" %>
    </header>

    <main class="body-content js-body-content">
      <%= yield %>
    </main>

    <footer class="body-footer js-body-footer">
      <%= render "partials/footer" %>
    </footer>

    <%# Layout Modal %>
    <div class="body-modal js-body-modal">
      <%= render "partials/modal" %>
    </div>

    <%= javascript_include_tag "admin" %>
  </body>
</html>
