<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-preview">
    <%= yield :metatags %>
    <%= csrf_meta_tags %>

    <%# Google Webmaster Tools %>

    <%# Favicon %>
    <%= render "partials/icons" %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>

    <%# Promises Polyfill%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js"></script>

    <%# Main & Picture HTML5 Shiv %>
    <script type="text/javascript">document.createElement( "main" );document.createElement( "picture" );</script>

    <%# Typekit Fonts %>
    <script src="https://use.typekit.net/ycg0ajx.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <%# Knowledge Graph %>
    <%= render "partials/head/knowledge-graph" %>

    <script>
        var RAILS_ENV = "<%= Rails.env %>"
    </script>
    <%= javascript_include_tag "application" %>

    <% if Rails.env.production? %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W4ZBFM5');</script>
      <!-- End Google Tag Manager -->
    <% end %>
  </head>

  <%# Disable Turbolinks on the designs page %>
  <% if controller_name == "designs" %>
    <body class="<%= controller_name %> <%= action_name %>" itemscope itemtype="https://schema.org/<%= yield :pagetype %>" data-turbolinks="false">
  <% else %>
    <body class="<%= controller_name %> <%= action_name %>" itemscope itemtype="https://schema.org/<%= yield :pagetype %>">
  <% end %>
  
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W4ZBFM5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header class="body-header js-body-header">
      <%= render "partials/menu" %>
    </header>

    <main class="body-content js-body-content">
      <%= yield %>
    </main>

    <footer class="body-footer js-body-footer">
      <%= render "partials/footer" %>
    </footer>

    <div class="body-overlay"></div>

    <%# Layout Modal %>
    <div class="body-modal js-body-modal">
      <%= render "partials/modal" %>
    </div>

    <%# Login modal content %>
    <div id="login-modal" class="modal-hide">
      <%= render "partials/login" %>
    </div>

    <div id="signup-modal" class="modal-hide">
      <%= render "partials/signup" %>
    </div>

    <div id="forgot-password-modal" class="modal-hide">
      <%= render "partials/forgot-password" %>
    </div>

    <%# Designer-Only Javascript %>
    <% if controller_name  == "designs" %>
      <%= javascript_include_tag "design" %>
    <% end %>
  </body>
</html>
