<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # ImageWall User Profile
  # location: views/users/registrations/edit.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<!-- <header class="page-header">
  <div class="g page-header__text">
    <h1 class="g12-xs g10-md g1-md-offset page-header__title">Your profile</h1>
  </div>
</header> -->

<section class="page-section page-section--profile">
  <div class="g">
    <div class="g12-xs g5-sm">
      <h3>Your ImageWalls</h3>
      <ul class="page-section__list">
        <% current_user.designs.each do |design| %>
          <li class="page-section__item">
            <%= link_to design_show_path(design.token), class: "page-section__item-link", title: design.title, "data-turbolinks": false do %>
              <span class="page-section__item-frame">
                <% if design.image %>
                  <%= ix_image_tag(design.image, { w: 180, h: 90, sizes: "12.5vw", widths: [180, 240, 300, 360], class: "page-section__item-image" }) %>
                <% end %>
              </span>
              <span class="page-section__item-title"><%= design.title %></span>
              <% if design.type == "purchase" %>
                <span class="page-section__item-tag ">PURCHASED</span>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="g12-xs g6-sm g1-sm-offset">
      <h3 class="">Your Profile</h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "g page-form page-form--update" }) do |f| %>
        <div class="g12-xs g8-md">
          <%= devise_error_messages! %>
        </div>

        <div class="g12-xs g8-md">
          <%= f.label :email, class: "page-form__label" %>
          <%= f.email_field :email, class: "page-form__input" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="g12-xs">
          <h4 class="">Change your password</h4>
        </div>

        <div class="g12-xs g8-md">
          <%= f.label "New password", class: "page-form__label" %>
          <span class="page-form__note"><%= @minimum_password_length %> characters minimum</span>
          <%= f.password_field :password, autocomplete: "off", class: "page-form__input" %>
          <span class="page-form__helper"><em>(leave blank if you don't want to change it)</em></span>
        </div>

        <div class="g12-xs g8-md">
          <%= f.label "Confirm new password", class: "page-form__label", class: "page-form__label" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "page-form__input" %>
        </div>

        <div class="g12-xs g8-md">
          <%= f.label :current_password, class: "page-form__label" %>
          <%= f.password_field :current_password, autocomplete: "off", class: "page-form__input" %>
          <span class="page-form__helper"><em>(we need your current password to confirm your changes)</em></span>
        </div>

        <div class="g12-xs">
          <%= f.submit "Update my account", class: "page-form__submit" %>
        </div>
      <% end %>
      <div class="g page-form page-form--delete">
        <div class="g12-xs">
          <h4 class="">Cancel your account</h4>
          <p class="">Sorry to see you go. If you'd like to close your account, send an email to <%= link_to "team@imagewall.com", "mailto:team@imagewall.com", class: "page-form__link" %> with the subject line "Close my account".</p>
        </div>
        <!-- <div class="g12-xs"> -->
          <%# button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "page-form__delete" %>
        <!-- </div> -->
      </div>
    </div>
  </div>
</section>
